body {
  margin: 0 auto;
  padding: 0 1em 0;
  max-width: 36em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: #333333;
}

em {
  font-style: normal;
  font-weight: bold;
}

code {
  padding: 0.1em 0.3em;
  font-family: "Liberation Mono", "DejaVu Sans Mono", monospace;
  font-size: 0.9em;
  background-color: #eeeeee;
}

header {
  display: block;
  margin: 1.6em auto 1em;
  text-align: center;
}

header img {
  width: 5em;
}

header h1 {
  margin-top: 0.3em;
  font-size: 1.6em;
}

nav {
  text-align: center;
  border-top: 0.1em solid #bbbbbb;
  border-bottom: 0.1em solid #bbbbbb;
}

footer {
  padding: 1em 0;
  margin-top: 2em;
  border-top: 0.12em solid #bbbbbb;
  font-size: 0.8em;
  text-align: center;
}

.screenshot img {
  max-width: 100%;
}
